.register-banner {
    height: 276px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #F6F7FC;
    border-radius: 16px;
    padding: 0 60px;
    margin-bottom: 86px !important;
}

.register-banner .content h2 {
    font-family: var(--second-family);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 12px;
}

.register-banner .content p {
    font-family: var(--second-family);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.01em;
    opacity: 0.8;
}

.register-banner .btn {
    border-radius: 12px;
    padding: 20px 38px;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #fff;
}


/* ============ media queries ============ */
@media (max-width: 570px) {
    .register-banner {
        flex-direction: column;
        align-items: start !important;
        justify-content: center !important;
        padding: 21px;
        height: 343px;
    }

    .register-banner .btn {
        font-size: 16px;
        padding: 14px 26px;
        margin-top: 12px;
    }
}

@media (max-width: 400px) {
    .register-banner {
        height: 330px;
    }

    .register-banner .content h2 {
        font-size: 30px;
    }

    .register-banner .content p {
        font-size: 14px;
    }
}