.hosting-heading {
    margin-bottom: 35px;
}

.hosting-heading h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #212121;
}

.hosting-heading p {
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(57, 44, 29, 0.8);
    margin-top: 24px;
    margin-bottom: 40px;
}

.hosting-heading .choose-paying-way {
    gap: 22px;
}

.hosting-heading .choose-paying-way>span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
}

.hosting-heading .choose-paying-way .switch {
    position: relative;
    width: 85px;
    height: 36px;
}

.hosting-heading .choose-paying-way .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.hosting-heading .choose-paying-way .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 40px;
    background-color: #113bbf;
    border: 1px solid #113bbf;
}

.hosting-heading .choose-paying-way .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4.5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.hosting-heading .choose-paying-way .switch input:checked+.slider {
    background: #fff;
}

.hosting-heading .choose-paying-way .switch input:checked+.slider:before {
    background: #113bbf;
    transform: translateX(49.2px);
}


@media (max-width: 730px) {
    .hosting-heading h2 {
        width: 350px;
        margin-bottom: 16px;
    }

    .hosting-heading p {
        margin-bottom: 32px;
        text-align: left;
    }
}

@media (max-width: 450px) {
    .hosting-heading h2 {
        font-size: 34px;
        text-align: left;
        width: 280px;
    }
}

@media (max-width: 400px) {
    .HostingPage h2 {
        font-size: 34px;
        text-align: left;
        margin-bottom: 16px;
    }

    .HostingPage p {
        text-align: left;
    }

    .HostingPage .choose-paying-way {
        gap: 16px;
        justify-content: flex-start;
    }

    .HostingPage .plans {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .HostingPage .choose-paying-way>span {
        font-size: 16px;
    }

    .HostingPage .choose-paying-way .switch {
        width: 68px;
        height: 28px;
    }

    .HostingPage .choose-paying-way .switch .slider:before {
        height: 22px;
        width: 22px;
        bottom: 2.5px;
    }

    .HostingPage .choose-paying-way .switch input:checked+.slider:before {
        transform: translateX(36.2px);
    }
}

@media (max-width: 370px) {
    .hosting-heading h2 {
        width: 240px;
    }
}