.HostingPage .plans {
    gap: 24px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.HostingPage .plans .plan {
    background: #f2f3fb;
    width: 286px;
    border-radius: 16px;
    padding: 32px 40px;
    position: relative;
    cursor: default;
    transition: .1s linear;
}

.HostingPage .plans .plan.active {
    background: #1937ba;
}

.HostingPage .plans .plan.active h3,
.HostingPage .plans .plan.active p.active,
.HostingPage .plans .plan.active p.price {
    color: #fff !important;
}

.HostingPage .plans .plan.active .sale,
.HostingPage .plans .plan.active .btn {
    background: #f2f3fb;
    color: #1937ba !important;
}


.HostingPage .plans .plan .sale {
    position: absolute;
    top: 0;
    right: 0;
    background: #1937ba;
    border-radius: 0 16px;
    width: 160px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f2f3fb;
}

.HostingPage .plans .plan h3 {
    font-family: var(--font-family);
    font-size: 32px;
    letter-spacing: 0.03em;
    color: #1a1a1a;
}

.HostingPage .plans .plan .includes {
    margin-top: 19px;
    margin-bottom: 39px;
}

.HostingPage .plans .plan .includes p {
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 150%;
    color: #767c88;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.HostingPage .plans .plan .includes p.active {
    color: #1a1a1a;
}

.HostingPage .plans .plan .price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #1a1a1a;
    margin-bottom: 17px;
}

.HostingPage .plans .plan .price span {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.HostingPage .plans .plan .btn {
    border-radius: 8px;
    padding: 16px 40px;
    width: 221px;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #ebebeb;
}

.HostingPage .fingerslide {
    text-align: end;
    transform: translateY(-20px);
    display: none;
}

.HostingPage .fingerslide img {
    width: 80px;
}


/* ============ media queries ============ */
@media (max-width: 1270px) {
    .HostingPage .fingerslide {
        display: block;
        margin-top: 50px;
    }
}
