.intro {
    margin-top: 92px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}

.intro .border-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.intro .row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 106px;
}

.intro .row .title h1 {
    font-family: var(--font-family);
    font-size: 46px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #212121;
    width: 800px;
}

.intro .row .title p {
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(33, 33, 33, 0.6);
    padding: 8px 0 32px 0;
}

.intro .row .search form input[type=search] {
    border: 1px solid #1937ba;
    border-radius: 8px;
    padding: 14px 24px;
    width: 608px;
    height: 50px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(33, 33, 33, 0.7);

    &::placeholder {
        opacity: 0.5;
    }

    &::-webkit-search-cancel-button {
        cursor: pointer;
        font-size: 1.2rem;
    }
}

.intro .row .search form input[type=submit] {
    border-radius: 8px;
    padding: 14px 26px;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #fff;
    margin-left: 16px;
}

/* ============ media queries ============ */
@media (max-width: 1000px) {
    .intro .row .title h1 {
        width: 500px;
    }
}

@media (max-width: 760px) {
    .intro .row .title h1 {
        width: 400px;
    }
}

@media (max-width: 860px) {
    .intro .row {
        text-align: left;
        align-items: normal;
    }

    .intro .row .title p {
        padding: 15px 0;
    }

    .intro .row .search {
        display: flex;
        flex-direction: column-reverse;
    }

    .intro .row .top-level-domains {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .intro .row .search form input[type=search] {
        width: 100%;
    }

    .intro .row .search form input[type=search] {
        /* width: 100%; */
        margin-bottom: 15px;
    }

    .intro .row .search form input[type=submit] {
        margin-left: 0;
    }

}

@media (max-width: 600px) {
    .intro .row .title h1 {
        font-size: 34px;
        width: 300px;
    }
}