.CartPage {
    margin-top: 200px !important;
    margin-bottom: 100px !important;
}

.CartPage .content {
    border-radius: 16px;
    padding: 32px;
    width: 771px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: auto;
}

.CartPage .content .cart-empty-message {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: var(--font-family);
}