@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Eudoxus Sans';
  src: url('/public/fonts/EudoxusSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Eudoxus Sans';
  src: url('/public/fonts/EudoxusSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Eudoxus Sans';
  src: url('/public/fonts/EudoxusSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Regular';
  src: url('../../public/fonts/ARIAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Eudoxus Sans", sans-serif;
    --third-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    transition: 0.3s all linear;
}

.wrapper {
    max-width: 1216px;
    margin: auto;
    position: relative;
}

body {
    overflow-x: hidden;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.am-font * {
  font-family: 'Arial Regular' !important;
}

.btn {
    display: inline-block;
    transition: .2s linear;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(3px);
    }
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ======== Live chat ======== */
#widgetButtonFrame {
    display: none !important;
}


@media (max-width: 1260px) {
    .wrapper {
        padding-inline: 16px;
    }
}