.KnowledgeBaseDetail{
      padding-top: 92px;
      padding-bottom: 55px;
}

.KnowledgeBaseDetail .go_back_pages {
  padding: 50px 0 16px;
  display: flex;
  align-items: center;
}

.KnowledgeBaseDetail .go_back_pages .go_page {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: rgba(33, 33, 33, 0.5);
}

.KnowledgeBaseDetail .go_section{
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 140%;
letter-spacing: 0.01em;
color: rgba(33, 33, 33, 0.5);
}

.KnowledgeBaseDetail .heading {
  padding: 20px 0 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #212121;
}


.KnowledgeBaseDetail .texts li{
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 139%;
color: #000;
padding-bottom: 40px;
}