.KnowledgeBaseArticle {
  padding-top: 92px;
  padding-bottom: 100px;
}

.KnowledgeBaseArticle .go_back_pages {
  padding: 50px 0 16px;
}

.KnowledgeBaseArticle .go_back_pages .go_page {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: rgba(33, 33, 33, 0.5);
}


.KnowledgeBaseArticle .heading {
  padding-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #212121;
}

.KnowledgeBaseArticle .categories_box li {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.KnowledgeBaseArticle .categories_box li a {
  color: #1937ba;
}


.KnowledgeBaseArticle .arrow_right {
  stroke-width: 2px;
  stroke: #1937ba;
  width: 21px;
  height: 20px;
}
