.VpsPage {
    margin-top: 140px !important;
}

.VpsPage .heading h1 {
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #212121;
    margin-bottom: 24px;
}

.VpsPage .heading p {
    font-family: var(--font-family);
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(57, 44, 29, 0.8);
    opacity: 0.7;
    margin-bottom: 60px;
}

.VpsPage .tariff-plans h2 {
    font-family: var(--font-family);
    font-size: 32px;
    line-height: 120%;
    color: #111;
    margin-bottom: 40px;
}

.VpsPage .tariff-plans h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #111;
    font-family: var(--font-family);
}

.VpsPage .tariff-plans {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.VpsPage .tariff-plans .container .left {
    width: 788px;
}

.VpsPage .tariff-plans .container .images {
    margin-bottom: 62px;
}

.VpsPage .tariff-plans .container .images .tabs {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 5px;
    background: #f2f3fb;
    border-radius: 8px;
    height: 50px;
}

.VpsPage .tariff-plans .container .images .tabs .tab {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    background: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
}

.VpsPage .tariff-plans .container .images .tabs .tab.active {
    background: #fff;
    font-weight: 600;
}

/* --- Images --- */
.VpsPage .tariff-plans .container .images .images-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.VpsPage .tariff-plans .container .images .images-list .image-card {
    height: 76px;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #cbcdd6;
}

.VpsPage .tariff-plans .container .images .images-list .image-card.active {
    border: 2px solid #1937BA;
}

.VpsPage .tariff-plans .container .images .images-list .image-card .image-card img {
    width: 24px;
    height: 24px;
}

.VpsPage .tariff-plans .container .images .images-list .image-card h4 {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #2b2f33;
    margin-bottom: 5px;
}

.VpsPage .tariff-plans .container .images .images-list .image-card p {
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    background: #fff;
    font-family: var(--third-family);
    font-size: 12px;
    line-height: 150%;
    color: #35495e;
    padding: 3px 14px;
}

/* --- Tariffs --- */

.VpsPage .tariff-plans .container .tariffs p {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 171%;
    color: #707a8a;
    margin-top: 20px;
    margin-bottom: 16px;
}

.VpsPage .tariff-plans .container .tariffs .cpu-types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.VpsPage .tariff-plans .container .tariffs .cpu-types .cpu-card {
    border-radius: 8px;
    padding: 14px 18px;
    box-shadow: 0 0 0 1px #cbcdd6;
    background: #fff;
    cursor: pointer;
}

.cpu-card.active {
    border: 2px solid #1937BA;
}

.VpsPage .tariff-plans .container .tariffs .cpu-types .cpu-card h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #2b2f33;
}

.VpsPage .tariff-plans .container .tariffs .cpu-types .cpu-card p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: #2b2f33;
    margin: 8px 0;
}

.VpsPage .tariff-plans .container .tariffs .cpu-types .cpu-card .note {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #707a8a;
}


/* --- Tariffs --- */
.VpsPage .tariff-plans .container .tariffs .tariff-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 29px;
    row-gap: 20px;
    margin-bottom: 114px;
}

.VpsPage .tariff-plans .container .tariffs .tariff-list .tariff-card {
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0 1px #cbcdd6;
    background: #fff;
}

.VpsPage .tariff-plans .container .tariffs .tariff-list .tariff-card.active {
    border: 2px solid #1937BA;
}

.VpsPage .tariff-plans .container .tariffs .tariff-list h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 171%;
    color: #2b2f33;
}

.VpsPage .tariff-plans .container .tariffs .tariff-list .price {
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 162%;
    color: #2b2f33;
}

.VpsPage .tariff-plans .container .tariffs .tariff-list .price span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #707a8a;
}

.VpsPage .tariff-plans .container .tariffs .tariff-list ul li {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #2b2f33;
}

.VpsPage .tariff-plans .container .tariffs .tariff-list ul li span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #707a8a;
    margin-left: 10px;
}


/* --- Configuration Sidebar --- */
.VpsPage .tariff-plans .configuration {
    width: 368px;
}

.VpsPage .tariff-plans .configuration .config-container {
    margin: 16px 0;
}

.VpsPage .tariff-plans .configuration .config-container .system {
    border-bottom: 1px solid #dfe3e8;
    padding-bottom: 4px;
}

.VpsPage .tariff-plans .configuration .config-container .system span {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 150%;
    color: #707a8a;
}

.VpsPage .tariff-plans .configuration .config-container .system p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #000;
}

.VpsPage .tariff-plans .configuration .payment {
    margin-top: 8px;
}

.VpsPage .tariff-plans .configuration .payment .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.VpsPage .tariff-plans .configuration .payment .title p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
}

.VpsPage .tariff-plans .configuration .payment .title .choose-paying-way .switch {
    position: relative;
    width: 48px;
    height: 24px;
}

.VpsPage .tariff-plans .configuration .payment .title .choose-paying-way .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.VpsPage .tariff-plans .configuration .payment .title .choose-paying-way .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 40px;
    background-color: #DFE3E8;
}

.VpsPage .tariff-plans .configuration .payment .title .choose-paying-way .switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%;
}

.VpsPage .tariff-plans .configuration .payment .title .choose-paying-way .switch input:checked+.slider {
    background: #113bbf;
}

.VpsPage .tariff-plans .configuration .payment .title .choose-paying-way .switch input:checked+.slider:before {
    background: #fff;
    transform: translateX(23px);
}

.VpsPage .tariff-plans .configuration .payment .tariff-card {
    border-bottom: 1px solid #dfe3e8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.VpsPage .tariff-plans .configuration .payment .tariff-card span {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 150%;
    color: #707a8a;
}

.VpsPage .tariff-plans .configuration .payment .tariff-card h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 171%;
    color: #2b2f33;
}

.VpsPage .tariff-plans .configuration .payment .tariff-card ul li {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #2b2f33;
}

.VpsPage .tariff-plans .configuration .payment .tariff-card ul li span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #707a8a;
}

.VpsPage .tariff-plans .configuration .network span {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 150%;
    color: #707a8a;
}

.VpsPage .tariff-plans .configuration .network p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
}

.VpsPage .configuration .config-container .total {
    margin-top: 17px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
}

.VpsPage .configuration .btn {
    border-radius: 8px;
    padding: 14px 26px;
    width: 100%;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #fff;
}