.hosting-plans {
    margin-top: 150px !important;
    margin-bottom: 20px !important;
}

.hosting-plans h2 {
    font-family: var(--font-family);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #212121;
    text-align: center;
}

.hosting-plans>p {
    font-family: var(--font-family);
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgba(57, 44, 29, 0.8);
    margin: 28px 0;
}

.hosting-plans .choose-paying-way {
    justify-content: center;
    gap: 22px;
}

.hosting-plans .choose-paying-way>span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
}

.hosting-plans .choose-paying-way .switch {
    position: relative;
    width: 85px;
    height: 36px;
}

.hosting-plans .choose-paying-way .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.hosting-plans .choose-paying-way .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 40px;
    background-color: #113bbf;
    border: 1px solid #113bbf;
}

.hosting-plans .choose-paying-way .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4.5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.hosting-plans .choose-paying-way .switch input:checked+.slider {
    background: #fff;
}

.hosting-plans .choose-paying-way .switch input:checked+.slider:before {
    background: #113bbf;
    transform: translateX(49.2px);
}

.hosting-plans .plans {
    gap: 24px;
    margin-top: 75px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.hosting-plans .plans .plan {
    border-radius: 16px;
    padding: 32px 40px;
    width: 286px;
    background: #f2f3fb;
    position: relative;
    cursor: default;
    transition: .1s linear;
}

.hosting-plans .plans .plan.active {
    background: #1937ba;
}

.hosting-plans .plans .plan.active h3,
.hosting-plans .plans .plan.active p.active,
.hosting-plans .plans .plan.active p.price {
    color: #fff !important;
}

.hosting-plans .plans .plan.active .sale,
.hosting-plans .plans .plan.active .btn {
    background: #f2f3fb;
    color: #1937ba !important;
}


.hosting-plans .plans .plan .sale {
    position: absolute;
    top: 0;
    right: 0;
    background: #1937ba;
    border-radius: 0 16px;
    width: 160px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f2f3fb;
}

.hosting-plans .plans .plan h3 {
    font-family: var(--font-family);
    font-size: 32px;
    letter-spacing: 0.03em;
    color: #1a1a1a;
}

.hosting-plans .plans .plan .includes {
    margin-top: 19px;
    margin-bottom: 39px;
}

.hosting-plans .plans .plan .includes p {
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 150%;
    color: #767c88;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.hosting-plans .plans .plan .includes p.active {
    color: #1a1a1a;
}

.hosting-plans .plans .plan .price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #1a1a1a;
    margin-bottom: 17px;
}

.hosting-plans .plans .plan .price span {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.hosting-plans .plans .plan .btn {
    border-radius: 8px;
    padding: 16px 40px;
    width: 221px;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #ebebeb;
}

.hosting-plans .fingerslide {
    text-align: end;
    transform: translateY(15px);
    display: none;
}

.hosting-plans .fingerslide img {
    width: 80px;
}


/* ============ media queries ============ */
@media (max-width: 1270px) {
    .hosting-plans .fingerslide {
        display: block;
    }
}

@media (max-width: 400px) {
    .hosting-plans h2 {
        font-size: 34px;
        text-align: left;
        margin-bottom: 16px;
    }

    .hosting-plans p {
        text-align: left;
    }

    .hosting-plans .choose-paying-way {
        gap: 16px;
        justify-content: flex-start;
    }

    .hosting-plans .plans {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .hosting-plans .choose-paying-way>span {
        font-size: 16px;
    }

    .hosting-plans .choose-paying-way .switch {
        width: 68px;
        height: 28px;
    }

    .hosting-plans .choose-paying-way .switch .slider:before {
        height: 22px;
        width: 22px;
        bottom: 2.5px;
    }

    .hosting-plans .choose-paying-way .switch input:checked+.slider:before {
        transform: translateX(36.2px);
    }
}