/* live chat button */
#tawkchat-container .tawk-button-circle,
#tawkchat-container .tawk-button-flat {
    display: none !important;
}

.HelpCenter .general {
    position: fixed;
    bottom: 26px;
    right: 10%;
    gap: 10px;
    border-radius: 45px;
    padding: 16px 31px;
    background: #1937ba;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    z-index: 900;
    user-select: none;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(3px);
    }
}

.HelpCenter .modal {
    border-radius: 44px 0 44px 44px;
    padding: 16px 31px;
    width: 317px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    position: fixed;
    bottom: 26px;
    right: 9.4%;
    z-index: 901;
}

.HelpCenter .modal .close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}

.HelpCenter .modal .links {
    margin: 19px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.HelpCenter .modal .links a {
    gap: 18px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #212121;
}


/* ============ media queries ============ */
@media (max-width: 700px) {
    .HelpCenter .general {
        font-size: 16px;
        padding: 11px 22px;
        right: 4%;
    }

    .HelpCenter .modal {
        right: 2%;
    }

    .HelpCenter .modal .links {
        gap: 14px;
        margin: 15px 0;
    }

    .HelpCenter .modal .links a {
        font-size: 14px;
        gap: 10px;
    }
}